/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  body{
    padding: 10px;
  }
  
  img{
    display: block;
    /* margin: 0 auto; */
    height: 200px;
  }
  span {
    font-weight: bold;
    color: red;
  }
  
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/